.container {
  background: var(--white-secondary);
  height: calc(100vw - 9.2rem);
  padding: 10rem 15rem 0 15rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  h4 {
    font-size: 3rem;
    font-weight: 600;
  }
  
  small {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray-primary);

    margin-bottom: 8.5rem;
  }
  
}

