.button {
  width: 13.2rem;
  height: 3.8rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  font-size: 1.4rem;
  font-weight: 500;
  color: var(--white-secondary);
  border: 1px solid var(--white-secondary);
  border-radius: 0.4rem;
  background: transparent;

  transition: color 0.2s;

  &:hover {
    border-color: var(--pink-primary);
    color: var(--pink-primary);
  }
  
}